body {
    font-family: Arial;
    margin: 20px;
}

.container {
    display: flex;
    gap: 15px;
}

.column {
    width: 33%;
    background-color: #e6f2ff;
    padding: 15px;
    border: 1px solid #003366;
}

h3 {
    text-align: center;
    color: #003366;
}
